@font-face {
    font-family: roboto;
    src: url('../Roboto.zip');
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: roboto, sans-serif;
}

header {
    background-color: #222222;
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header img {
    height: 80px;
    width: 234px;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li {
    margin-left: 13px;
    color: #F3F3F3;
}

header nav ul li a {
    text-decoration: none;
}

header nav ul li a:visited {
    color: #F3F3F3;
}

main {
    display: flex;
    padding: 35px 19px;
    justify-content: space-around;
}

main section {
    width: 490px;
    height: 350px;
    border-radius: 5px;
}

.izquierda {
    background-image: url('../img/delivery.jpg');
}

.titulo {
    display: flex;
    padding: 20px;
    font-weight: bold;
}

.titulo h2 {
    color: #FC200C;
    display: inline-block;
}

.titulo p {
    color: white;
    display: inline-block;
}

.derecha {
    background-color: #FFFFFF;
    padding: 26px 55px 16px 51px;
}

.derecha h2 {
    text-align: center;
    margin-bottom: 30px;
    color:#FC200C
}

.podio-pizzas {
    display: flex;
    justify-content: space-between;
}

.top-pizzas h3 {
    margin-left: 18px;
    margin-bottom: 20px;
}

.top-pizzas ol li {
    margin-bottom: 10px;
}

footer {
    height: 150px;
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer ul {
    margin: 20px;
    list-style: none;
}

footer ul li{
    margin-bottom: 12px;
    color: #F3F3F3;
}

footer img {
    margin: 35px 42px;
}